@using Microsoft.Owin.Security
@using MyCricketSite
@using MyCricketSiteData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="topNavBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="pull-left">
            @{
                var currentTournament = SessionUtils.CurrentTournament != null ? SessionUtils.CurrentTournament.Name : "";
                
            }
            <span id="spanCurrentTournament">@currentTournament</span>
        </div>
        <div class="pull-right">
            <div style="float:left;">
                @{

                    if (SessionUtils.LoggedInUser == null)
                    {
                        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                        string action = "ExternalLogin";
                        string returnUrl = "~/Home/SaveUserProfileOnDevice";
                        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>
                                    @foreach (AuthenticationDescription p in loginProviders)
                                    {
                                        <button type="submit" style="margin-top:5px;font-size:10px; padding: 1px 6px;" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Login with @p.AuthenticationType</button>
                                    }
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="circularProfileImage">
                            <div style="float:left;">
                                <img src='@SessionUtils.LoggedInUser.ImageUrl.Replace("sz=50","sz=30")' alt="" />
                            </div><div class="text">@SessionUtils.LoggedInUser.Name</div>
                        </div>
                    }
                }
            </div>
            <div id="showMenu" style="font-size:20px; cursor:pointer; margin-right:15px; margin-left:20px;" class="glyphicon glyphicon-align-justify"></div>
        </div>
    </div>
    <div id="perspective" class="perspective effect-rotateleft">
        <div class="container">
            <div class="wrapper">


                <div style="padding-top:30px;">


                    @RenderBody()
                    <hr />

                </div>
            </div><!-- wrapper -->
        </div><!-- /container -->
        <nav class="outer-nav right vertical">
            <a href="#" class="icon-home">Home</a>
            <a href="#" class="icon-news">News</a>
            <a href="#" class="icon-image">Images</a>
            <a href="#" class="icon-upload">Uploads</a>
            <a href="#" class="icon-star">Favorites</a>
            <a href="#" class="icon-mail">Messages</a>
            <a href="/Account/LogOff" class="icon-lock">logout</a>
        </nav>
    </div><!-- /perspective -->
    @Scripts.Render("~/bundles/SiteScipts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>







</html>
